extends ../layout

block content 
    h1 Food Added in Cart
    - var total=0
    table(class="table") 
        thead 
            tr  
                th Item Name
                th Item Price
                th Quantity
                th Spice
                th More Details
        each item in cart
            - total += Number(item.price)
            tbody
                tr
                    td=item.name        
                    td=item.price
                    td=item.quantity
                    td=item.spice
                    td=item.detail
                    td
                        a(href="cart/remove/"+item._id ,class="btn btn-danger") Remove
        tfoot
            tr
                th Total        
                th=total          